.buttonCadastro {
  width: 216px;
  height: 42px;
  border-radius: 100px;
  background-color: #6B7375;
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.875rem;
}

.buttonCadastro:focus {
  outline: thin dotted;
}

@media(max-width: 500px) {
  .buttonCadastro {
  margin-top: 25px;
  }
}