.header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.625rem;
  margin-bottom: 30px;
}

@media(max-width: 500px) {
  .header {
    font-size: 1.375rem;
    margin-bottom: 15px;
  }
}


@media(max-width: 400px) {
  .header {
    position: fixed;
    z-index: 3;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    text-align: center;
    padding-bottom: 18px;
    padding-top: 18px;
    background: #ffffff;
    width: 100vw;
    top: 0;
  }
}