table {
  width: 80vw;
  border-collapse: collapse;
}

tr {
  height: 40px;
  animation: slideDown 0.6s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.topic {
  background: #f8f8f8;
}

.topic th{  
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: start;
  padding-left: 17px;
  cursor: default;
  white-space: nowrap;
}

.icon {
  vertical-align: middle;
}

.subtopic th{
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 17px;
  text-align: start;
}

td {
  text-align: center;
  width: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

  thead th{
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.125rem;
}

input[type='checkbox'] {
  cursor: pointer;
}

.topic:nth-child(1) {
  background-color: #F1EFEF;
}

@media(max-width:500px) {
  .topic th{  
    font-size: 1rem;
  }
  thead th{
    font-size: 0.875rem;
  }
  .subtopic th{
    font-size: .875rem;
  }
  
  td {
    width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  table {
    width: 90vw;
  }
}

@media(max-width:400px) {
  .topic th{  
    font-size: 0.75rem;
    padding-left: 10px;
  }
  .subtopic th{
    font-size: 0.75rem;
    padding-left: 10px;
  }
  .topic td:last-child, .subtopic td:last-child{
    padding-right: 17px;
  }

  thead th{
    font-size: 0.75rem;
  }
  thead tr th:last-child{
    padding-right: 7px;
  }
  table {
    width: 100vw;
    margin-bottom: 80px;
    margin-top: 80px;
  }
}
